<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  
  <title>
    
    Library &middot; 
    
  </title>
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link href="../css/toolkit.css" rel="stylesheet">
  <link href="../css/stylelib.css" rel="stylesheet">
  <link href="../css/application.css" rel="stylesheet">
  <link href="../css/library.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css">
  
  <style>
    /* note: this is a hack for ios iframe for bootstrap themes shopify page */
    /* this chunk of css is not part of the toolkit :) */
    body {
      width: 1px;
      min-width: 100%;
      *width: 100%;
    }
  </style>
  
</head>
<body class="with-top-navbar">
  
  
  
  <div class="growl" id="app-growl"></div>
  
  <nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/dashboard">
          <img src="/images/dashboard/IOSD-logo.png" alt="brand">
        </a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse-main">
        
        <ul class="nav navbar-nav hidden-xs">
          <li >
            <a href="/dashboard">Dashboard</a>
          </li>
          <li class="active">
            <a href="/library">Library</a>
          </li>
          <li>
            <a href="/single.html">Blogs</a>
          </li>
          <li>
            <a href="docs/index.html">Video Tutorials</a>
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
          <li>
            <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
              <img class="img-circle" src="<%=user.picture%>">
            </button>
          </li>
        </ul>
        
        <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="#">Library</a></li>
          <li><a href="../single.html">Blog</a></li>
          <li><a href="#" data-action="growl">Video Tutorials</a></li>
          <li><a href="/login">Logout</a></li>
        </ul>
        
      </div>
    </div>
  </nav>
  
  <div id="main-container" class="main-container nav-effect-1">
    
    <div class="main clearfix">
      
      <!-- Main Section -->
      <div class="page-container">
        
        <div class="page-title category-title">
          <!-- <h1>Book Viewer</h1> -->
        </div>
        
        <section id="book_list">
          
          <div class="toolbar row">
            <div class="filter-options small-12 medium-9 columns">
              <a href="#" class="filter-item active" data-group="all">All Categories</a>
              <a href="#" class="filter-item" data-group="fantasy">Fantasy</a>
              <a href="#" class="filter-item" data-group="sci-fi">Sci-Fi</a>
              <a href="#" class="filter-item" data-group="classic">Classics</a>
              <a href="#" class="filter-item" data-group="fairy">Fairy Tale</a>
              <a href="#" class="filter-item" data-group="young">Young Adult</a>
            </div>
            
            <div class="small-12 medium-3 columns">
              <select class="sort-options">
                <option value="" disabled selected>Sort by</option>
                <option value="" >Featured</option>
                <option value="title">Alphabetical</option>
                <option value="date-created">Published</option>
              </select>
            </div>
          </div>
          
          <div class="grid-shuffle">
            <ul id="grid" class="row">
              <% books.forEach(function(book){ %>
              <li class="book-item small-12 medium-6 columns" data-groups='["<%=book.category%>"]' data-date-created='<%=book.year%>' data-title='<%=book.name%>' data-color='#fcc278'>
                <div class="bk-img">
                  <div class="bk-wrapper">
                    <div class="bk-book bk-bookdefault">
                      <div class="bk-front">
                        <div class="bk-cover" style="background-image: url('<%=book.image%>')"></div>
                      </div>
                      <div class="bk-back"></div>
                      <div class="bk-left"></div>
                    </div>
                  </div>
                </div>
                <div class="item-details">
                  <h3 class="book-item_title"><%=book.name%></h3>
                  <p class="author">by <%=book.author%> &bull; <%=book.year%></p>
                  <p><%=book.description.substring(0,50);%></p>
                  <a href="#" class="button ">Details</a>
                </div>
                
                <div class="overlay-details">
                  <a href="#" class="close-overlay-btn">Close</a>
                  <div class="overlay-image">
                    <img src="<%=book.image%>" alt="Book Cover">
                    <div class="back-color"></div>
                  </div>
                  <div class="overlay-desc activated">
                    <h2 class="overlay_title"><%=book.name%></h2>
                    <p class="author">by <%=book.author%></p>
                    <p class="published"><%=book.year%></p>
                    <p class="synopsis"><%=book.description%></p>
                      <a href="#" class="button preview">Preview</a>
                    </div>
                    <div class="overlay-preview">
                      <a href="#" class="back-preview-btn">Back</a>
                      <h4 class="preview-title">Preview</h4>
                      <div class="preview-content">
                        <p><%=book.description%></p>
                            </div>
                          </div>
                        </div>
                      </li><% }); %>
            <li class="book-item small-12 medium-6 columns" data-groups='["classic","young"]' data-date-created='1951' data-title='The Catcher in the Rye' data-color='#009c8b'>
                        <div class="bk-img">
                          <div class="bk-wrapper">
                            <div class="bk-book bk-bookdefault">
                              <div class="bk-front">
                                <div class="bk-cover" style="background-image: url('http://interactivejoe.com/book-viewer/assets/images/bk_2-small.jpg')"></div>
                              </div>
                              <div class="bk-back"></div>
                              <div class="bk-left"></div>
                            </div>
                          </div>
                        </div>
                        <div class="item-details">
                          <h3 class="book-item_title">The Catcher in the Rye</h3>
                          <p class="author">by J.D. Salinger &bull; 1951</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus nisi, eget pulvinar in, molestie et arcu.</p>
                          <a href="#" class="button ">Details</a>
                        </div>
                        
                        <div class="overlay-details">
                          <a href="#" class="close-overlay-btn">Close</a>
                          <div class="overlay-image">
                            <img src="http://interactivejoe.com/book-viewer/assets/images/bk_2-large.jpg" alt="Book Cover">
                            <div class="back-color"></div>
                          </div>
                          <div class="overlay-desc activated">
                            <h2 class="overlay_title">The Catcher in the Rye</h2>
                            <p class="author">by J.D. Salinger</p>
                            <p class="published">1951</p>
                            <p class="synopsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor mauris,
                              non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.</p>
                              <a href="#" class="button preview">Preview</a>
                            </div>
                            <div class="overlay-preview">
                              <a href="#" class="back-preview-btn">Back</a>
                              <h4 class="preview-title">Preview</h4>
                              <div class="preview-content">
                                <h5>Chapter 1</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor
                                  mauris, non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor
                                    mauris, non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor
                                      mauris, non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.<br>&nbsp;<br>&nbsp;</p>
                                    </div>
                                  </div>
                                </div>
                              </li>
                                
                                </div>
                    <!-- /main-container -->
                  </div>
                </li>
              </ul>
                </div>
          </section>
        </div>
      </div>
    </div>
<div class="footer" style="background-color:black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align: center">
                <p style="color:white; padding-top:5px;">Made with <i class="fa fa-heart pulse"></i>  by International Organisation of Software Developers</p>
            </div>
        </div>
    </div>
</div>
                    <script src="../js/jquery.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script> 
                    <script src='https://cdnjs.cloudflare.com/ajax/libs/Shuffle/4.0.0/shuffle.min.js'></script>
                                                                                                                                                          
                <script src="../js/chart.js"></script>
                <script src="../js/toolkit.js"></script>
                <script src="../js/application.js"></script>
            <script src="../js/library.js"></script>
            <script>
      // execute/clear BS loaders for docs
      $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while(BS.loader.length){(BS.loader.pop())()}
        }
      })                </script>
                    </body>
                </html>
                                                                                                                                                        
                                                                                                                                                        